<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        TABLE {
            width: 300px;
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid black;
        }
        TH {
            background: #b0e0e6;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
    </tr>
    <th:block th:each="car : ${cars}">
        <tr>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>